* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  color: #4d4d4d;
}

ul {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

li {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  font-weight: 200;
}

li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

main {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  gap: 0;
  background-color: #f6f6f5;
}

img {
  width: 100%;
  object-fit: cover;

  height: 100%;
}

.main__info {
  padding: 3rem;
}

h1 {
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
h2 {
  text-align: center;
  font-weight: 400;
}

h4 {
  font-weight: 400;
  font-size: 0.85rem;
  margin: 0.5rem 0 0.25rem;
}
h3,
h5 {
  font-weight: 200;
  margin-bottom: 1.5rem;
}

.main__info--desc {
  padding: 2rem 0;
  text-transform: none;
  font-weight: 200;
  line-height: 1.5;
}

hr {
  border: 0.75px solid #948282;
}

.badges {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 2rem 0;
  justify-content: space-between;
  margin-top: 0;
}

.badges__item:nth-child(2) {
  align-self: flex-end;
}

.badges__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-self: center;
}

.badges__item img {
  max-width: 50px;
}

.badges__item p {
  color: #948282;
  padding: 0;
}

button {
  background-color: #bfabab;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: none;
  font-size: 1.2rem;
}

section {
  margin-top: 4rem;
}

.suggestions {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  margin: 2rem;
  height: 100%;
  overflow: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.suggestions::-webkit-scrollbar {
  display: none;
}

.suggestions__item {
  display: inline-block;
}

.suggestions__item img {
  height: fit-content;
  width: 350px;
}

@media screen and (max-width: 480px) {
  main {
    display: block;
  }

  .main__info {
    padding: 2rem;
  }
  li {
    font-size: 0.7rem;
  }
  li + li::before {
    padding: 3px;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  button {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  .suggestions__item img {
 
    width: 250px;
}
